n8n-workflow-approval.json
{
  "name": "AI Personal Brand Amplifier - Approval Handler",
  "nodes": [
    {
      "id": "sticky-appr",
      "name": "Approval Workflow Info",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-400, 200],
      "parameters": {
        "content": "## Approval Handler\n\nThis workflow fires when you tap\nApprove or Reject in Telegram.\n\n**Flow:**\n1. Receive callback from Telegram\n2. Answer the callback (dismiss spinner)\n3. If approved: fetch post from Qdrant\n4. Publish to LinkedIn + X in parallel\n5. Confirm via Telegram DM\n6. Mark post as published in Qdrant\n\n**Required:**\n- LinkedIn Access Token\n- LinkedIn Person URN\n- X/Twitter OAuth Header\n- Same Telegram Bot credential",
        "height": 380,
        "width": 340,
        "color": 4
      }
    },
    {
      "id": "appr-001",
      "name": "Telegram Bot Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [0, 400],
      "webhookId": "YOUR_WEBHOOK_ID",
      "parameters": {
        "updates": ["callback_query"],
        "additionalFields": {}
      },
      "credentials": {
        "telegramApi": {
          "id": "TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram Bot Account"
        }
      }
    },
    {
      "id": "appr-002",
      "name": "Parse Callback Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [240, 400],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const data = $input.first().json;\n\nconst cq = data.callback_query;\nif (!cq) {\n  return [{ json: { action: 'unknown', postId: '', chatId: '', callbackQueryId: '' } }];\n}\n\nconst callbackData = cq.data || '';\nconst chatId = String((cq.message && cq.message.chat && cq.message.chat.id) ? cq.message.chat.id : (cq.from ? cq.from.id : ''));\nconst messageId = cq.message ? cq.message.message_id : null;\nconst callbackQueryId = cq.id || '';\n\nvar action = 'unknown';\nvar postId = '';\n\nif (callbackData.indexOf('approve_') === 0) {\n  action = 'approve';\n  postId = callbackData.substring('approve_'.length);\n} else if (callbackData.indexOf('reject_') === 0) {\n  action = 'reject';\n  postId = callbackData.substring('reject_'.length);\n}\n\nreturn [{\n  json: {\n    action: action,\n    postId: postId,\n    chatId: chatId,\n    messageId: messageId,\n    callbackQueryId: callbackQueryId\n  }\n}];"
      }
    },
    {
      "id": "appr-003",
      "name": "Answer Callback Query",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [480, 400],
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/answerCallbackQuery",
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ callback_query_id: $json.callbackQueryId, text: $json.action === 'approve' ? 'Processing approval...' : 'Post rejected.', show_alert: false }) }}",
        "options": {}
      }
    },
    {
      "id": "appr-004",
      "name": "Is Approved?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [720, 400],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "approve-cond",
              "leftValue": "={{ $json.action }}",
              "rightValue": "approve",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "appr-005",
      "name": "Log Rejection",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [960, 200],
      "parameters": {}
    },
    {
      "id": "appr-006",
      "name": "Fetch Post from Qdrant",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [960, 540],
      "parameters": {
        "method": "POST",
        "url": "http://localhost:6333/collections/pending_posts/points/scroll",
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ filter: { must: [{ key: 'postId', match: { value: $json.postId } }] }, with_payload: true, with_vector: false, limit: 1 }) }}",
        "options": {}
      }
    },
    {
      "id": "appr-007",
      "name": "Extract Post Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 540],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const qdrantResp = $input.first().json;\nconst approvalData = $('Parse Callback Data').item.json;\n\nconst point = qdrantResp.result && qdrantResp.result.points && qdrantResp.result.points[0]\n  ? qdrantResp.result.points[0]\n  : null;\n\nif (!point || !point.payload || !point.payload.linkedinPost) {\n  throw new Error('Post not found in Qdrant for ID: ' + approvalData.postId);\n}\n\nconst payload = point.payload;\n\nreturn [{\n  json: {\n    action: approvalData.action,\n    chatId: approvalData.chatId,\n    postId: approvalData.postId,\n    pointId: point.id,\n    linkedinPost: payload.linkedinPost,\n    xPost: payload.xPost,\n    url: payload.url,\n    title: payload.title,\n    source: payload.source\n  }\n}];"
      }
    },
    {
      "id": "appr-008",
      "name": "Publish to LinkedIn",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1440, 420],
      "parameters": {
        "method": "POST",
        "url": "https://api.linkedin.com/v2/ugcPosts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer YOUR_LINKEDIN_ACCESS_TOKEN" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "X-Restli-Protocol-Version", "value": "2.0.0" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ author: 'urn:li:person:YOUR_LINKEDIN_PERSON_URN', lifecycleState: 'PUBLISHED', specificContent: { 'com.linkedin.ugc.ShareContent': { shareCommentary: { text: $json.linkedinPost }, shareMediaCategory: 'NONE' } }, visibility: { 'com.linkedin.ugc.MemberNetworkVisibility': 'PUBLIC' } }) }}",
        "options": {}
      }
    },
    {
      "id": "appr-009",
      "name": "Publish to X (Twitter)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1440, 640],
      "parameters": {
        "method": "POST",
        "url": "https://api.twitter.com/2/tweets",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "OAuth YOUR_OAUTH_1A_HEADER" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ text: $json.xPost }) }}",
        "options": {}
      }
    },
    {
      "id": "appr-010",
      "name": "Confirm via Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1680, 420],
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "={{ $('Extract Post Payload').item.json.chatId }}",
        "text": "Published successfully!\n\nLinkedIn: Posted\nX/Twitter: Posted\n\nTitle: {{ $('Extract Post Payload').item.json.title.slice(0, 100) }}\nSource: {{ $('Extract Post Payload').item.json.url }}",
        "additionalFields": {}
      },
      "credentials": {
        "telegramApi": {
          "id": "TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram Bot Account"
        }
      }
    },
    {
      "id": "appr-011",
      "name": "Update Post Status in Qdrant",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1920, 420],
      "parameters": {
        "method": "POST",
        "url": "http://localhost:6333/collections/pending_posts/points/payload",
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ payload: { status: 'published', publishedAt: new Date().toISOString() }, points: [$('Extract Post Payload').item.json.pointId] }) }}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Telegram Bot Trigger": {
      "main": [
        [{ "node": "Parse Callback Data", "type": "main", "index": 0 }]
      ]
    },
    "Parse Callback Data": {
      "main": [
        [{ "node": "Answer Callback Query", "type": "main", "index": 0 }]
      ]
    },
    "Answer Callback Query": {
      "main": [
        [{ "node": "Is Approved?", "type": "main", "index": 0 }]
      ]
    },
    "Is Approved?": {
      "main": [
        [{ "node": "Fetch Post from Qdrant", "type": "main", "index": 0 }],
        [{ "node": "Log Rejection", "type": "main", "index": 0 }]
      ]
    },
    "Fetch Post from Qdrant": {
      "main": [
        [{ "node": "Extract Post Payload", "type": "main", "index": 0 }]
      ]
    },
    "Extract Post Payload": {
      "main": [
        [
          { "node": "Publish to LinkedIn", "type": "main", "index": 0 },
          { "node": "Publish to X (Twitter)", "type": "main", "index": 0 }
        ]
      ]
    },
    "Publish to LinkedIn": {
      "main": [
        [{ "node": "Confirm via Telegram", "type": "main", "index": 0 }]
      ]
    },
    "Confirm via Telegram": {
      "main": [
        [{ "node": "Update Post Status in Qdrant", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "22222222-2222-2222-2222-222222222222",
  "id": "brand-amplifier-approval-handler"
}
